.form {
  width: 70%;
  margin: 20px auto;
}

.form * {
  margin: 5px;
  padding: 5px;
}

/* Form title */
.form h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form labels */
.form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Form inputs */
.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Submit button */
.form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Submit button hover effect */
.form input[type="submit"]:hover {
  background-color: #45a049;
}
