.wrapper {
    top: 20px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    border: 2px solid limegreen;
    flex-direction: column;
}

.teamswrapperModal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 290px;
    min-height: 192px;
    padding: 0px;
    border: 2px solid orangered;
    margin: 5px;
    flex-grow: 0;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 90%;
    width: 100%;
    overflow-y: auto;
    overflow: hidden;
    flex-grow: 1;
    border: 2px solid orangered;
}

.content::-webkit-scrollbar {
width: 4px;               /* width of the entire scrollbar */
}
.content::-webkit-scrollbar-track {
background: transparent;        /* color of the tracking area */
}
.content::-webkit-scrollbar-thumb {
background-color: #1a73e8;    /* color of the scroll thumb */
}

.logs {
    max-height: 750px;
    width: 100%;
    overflow-y: auto;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    border: 2px solid orangered;
}

.logs::-webkit-scrollbar {
width: 4px;               /* width of the entire scrollbar */
}
.logs::-webkit-scrollbar-track {
background: transparent;        /* color of the tracking area */
}
.logs::-webkit-scrollbar-thumb {
background-color: #1a73e8;    /* color of the scroll thumb */
}

.button {
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 50px;
    z-index: 1000;
}

.hidden {
    display: none;
}