.container {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: auto;
}

.wrapper {
    background-color: white;
    min-width: 300px;
    max-width: 600px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 15px;
}

.contentWrapper {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.teamswrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 290px !important;
    height: 192px;
    padding: 0px !important;
    border: 0px transparent !important;
    margin: 5px;
}

.team {
    width: 278px;
    border: 1px solid #9c9c9c;
    height: 80px;
    padding: 5px;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teamWon {
    border: 3px solid green;
    padding: 4px;
}

.teamLost {
    border: 3px solid red;
    padding: 4px;
}

.team > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.team > p {
    font-size: 30px;
}

.teamDivider {
    height: 5px;
    width: 100%;
}

.logs {
    border: 1px solid #9c9c9c;
    background-color: #000;
    color: white;
    overflow-y: auto;
    height: 180px;
    width: 278px;
    margin: 5px;
    padding: 5px;
}

.logs::-webkit-scrollbar {
width: 4px;               /* width of the entire scrollbar */
}
.logs::-webkit-scrollbar-track {
background: transparent;        /* color of the tracking area */
}
.logs::-webkit-scrollbar-thumb {
background-color: #1a73e8;    /* color of the scroll thumb */
}

.log {
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 0px;
    padding: 0.5em 0px;
    border-radius: 5px;
    cursor: default;
    transition: 0.1s linear;
}

.log:hover {
    color: white;
    background-color: #1c1c1c;
}

.log:hover > .logTime {
    color: #9c9137;
}

.log p {
    margin: 0px;
}

.logTime {
    transition: 0.1s linear;
    min-width: 50px;
    width: 50px;
    text-align: center;
}

.conditions {
    border: 1px solid #9c9c9c;
    width: 278px;
    height: 180px;
    background-color: #eee;
    margin: 5px;
    padding: 5px;
}

.gameStats {
    border: 1px solid #9c9c9c;
    width: 278px;
    height: 180px;
    background-color: #eee;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.statsTable {
    width: 100%;
    height: 100%;
    padding: 10px;
}