.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: auto;
}

.wrapper {
    background-color: white;
    min-width: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 15px;
}

.contentWrapper {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}