html,
body,
main {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.rb {
  border: solid 1px red;
}

/*needed for modal backdrops , do not delete for now*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.589);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  z-index: 100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
