
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  padding: 16px;
  color: black;
}

.modalContent h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.modalContent p {
  font-size: 16px;
  margin-bottom: 20px;
}

.modalContent img {
   max-width: 100%; /* Set the maximum width of the image to 100% of its container */
  max-height: 300px; /* Set the maximum height of the image to 300 pixels (adjust as needed) */
  display: block; /* Remove any extra spacing below the image */
  margin: 0 auto; /* Center the image horizontally */
  border-radius: 4px; /* Keep the existing border-radius */
}

.modalContent button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logs {
  /* Add some spacing between log items */
  display: grid;
  grid-gap: 15px;
}

.logItem {
  display: flex; /* Use flexbox to place log text and button side by side */
  align-items: center; /* Align items vertically in the center */
}

.logItem p {
  flex: 1; /* Allow the log text to grow and fill available space */
  margin: 0; /* Remove any default margins */
}

.logItem button {
  margin-left: 10px; /* Add some spacing between the log text and the button */
}