.playerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: limegreen; /* Change to the desired background color */
  border: 2px solid yellow; /* Change to the desired border color */
  padding: 20px;
  z-index: 9999;
  color: white; /* Set the text color to white */
}


.button {
  position: absolute; /* Change the position to absolute */
  top: 10px; /* Adjust the top position as desired */
  right: 10px; /* Adjust the right position as desired */
  font-size: 50px;
  z-index: 1000;
}


.modalTop {
  z-index: 9999;
}

.hidden {
  display: none;
}
