.playerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightyellow; /* Change to the desired background color */
  border: 2px solid yellow; /* Change to the desired border color */
  padding: 20px;
  z-index: 9999;
  color: white; /* Set the text color to white */
}



.button {
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: 50px;
  z-index: 1000;
}

.modalTop {
  z-index: 9999;
}

.hidden {
  display: none;
}
