.playerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 9999;
}


.button {
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: 50px;
  z-index: 1000;
}

.modalTop {
  z-index: 9999;
}

.hidden {
  display: none;
}
